[submodule "Plugins/UnrealImGui"]
	path = Plugins/UnrealImGui
	url = https://github.com/benui-dev/UnrealImGui
[submodule "Plugins/PBCMovement"]
	path = Plugins/PBCMovement
	url = https://github.com/bruhitsmeray/PBCMovement.git
